<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script language="javascript" type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script>
    
    
    <title>Tetris</title>
    

    <style>
      body {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="perlin">
      <script language="javascript" type="text/javascript" src="scripts/perlin.js"></script>
      <script language="javascript" type="text/javascript" src="scripts/particles.js"></script>
    </div>
    <div class="link">
      go to <a href="http://ptetris.herokuapp.com/">game</a> ?
    </div>
    
  </body>
</html>